In [1]:
import pandas as pd

In [2]:
df = pd.read_feather('data/tweets_test.feather')
df

                                                     text lang        country
0       @theblaze @realDonaldTrump https://t.co/TY9DlZ...  und  United States
1       @BarackObama \n@FBI\n@LORETTALYNCH \nALL IN CO...   en  United States
2       @theblaze @realDonaldTrump https://t.co/n050DB...  und  United States
3       @HillaryClinton he will do in one year all the...   en      Australia
4       #CNN #newday clear #Trump deliberately throwin...   en  United States
...                                                   ...  ...            ...
657302  TRUMP U, TAXES ,WEIRD MEDICAL REPORT WITH A WH...   en  United States
657303  @CarolCNN if MSM were honest watch any utube v...   en  United States
657304  #EEUU\nNeumonía obliga a @HillaryClinton a can...   es        Bolivia
657305  It's interesting that Hillary Clinton's crowds...   en  United States
657306  @TeamTrump @KellyannePolls @realDonaldTrump @f...   en  United States

[657307 rows x 3 columns]